@import
 url('https://fonts.googleapis.com/css?family=Oxanium:400,600&display=swap');

*{
  box-sizing: border-box;
}

main {
	position: relative;
	overflow: hidden;
	height: 100vh;
}


html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Oxanium', sans-serif;
  text-align: center;
  background-color: #1f1f1f;
  }
}

img{
  max-width: 100vh;
  height: auto;
}



.container {
  width: 95%;
  margin: 0 auto;
  color: #1f1f1f:
}

.clearfix::after,
section::after,
footer::after{
  content: '';
  display: block;
  clear: both;
}

/* Column system
alle mit col- bekommen einen float
====================== */
[class^=col-]{
  width: 100%;
  margin-top: 1em;
}

[class^=col-]:first-child{
  margin-top: 0;
}

.col-1{
  width: 33.33334%;
  float: left;
}

@media (min-width: 40rem) {

  [class^=col-]{
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=col-]:first-child{
    padding-left: 0;
    padding-right: 5em;
  }

  [class^=col-]:last-child{
    padding-right: 0;
  }

  .col-3{
    width: 50%;
  }

  .col-1{
    width: 16.6666%
  }
}

/* typography
====================== */

h1{
  font-weight: 300;
  font-size: 3rem;
  margin-top: 0;
}

h2{
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0;
  text-align: left;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-weight: 900;
  margin-top: 0.3em;
  color: #f7f7f7;
}

.title span{
  font-weight: 300;
  display: block;
  font-size: .8em;
}

.title-cta{
  margin: 0 0 .5em;
}

.unstyled-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 55rem){
  .title{
    font-size: 3rem;
  }
}

/* Button "JETZT SPENDEN"
=============================*/

.button {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .3em 1.1em;
  margin-bottom: 5em;
}

.button-accent {
  color: #ff1493;
  border-color: #ff1493;
  background-color: rgba(31, 31, 31, 0.85);
}

.button-accent:hover,
.button-accent:focus{
  background: #f8f8ff;
}

@media (min-width: 60rem){
  .button{
    font-size: 2rem;
  }
}

/* header
====================== */

header{
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

/* Navigation bar */
:root {
  --background: rgba(31, 31, 31, 0.85);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  width: auto;
	margin: 0;
	font-weight: 600;
}

.content {
  height: 200vh;
  background-blend-mode: multiply;
  background-size: cover;
  place-items: left;
}

/* Header
================================ */

header{
background: var(--background);
text-align: center;
position: fixed;
z-index: 999;
width: 100%;
}



/*  Navigation mit Java */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: var(--background);
}

.logo{
  color:  #6495ed;
  letter-spacing: 4px;
  font-size: 22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color:  #6495ed;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.burger{
  display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:  #6495ed;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links{
    width: 60%;
  }
}


@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: 	#696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(+45deg) translate(-5px,-6px);
}


/* home-hero
====================== */
.home-hero {
  background: url(../img/vwlogobackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0em 0;
  margin: -1;
}

@media(min-width: 60rem){
  .home-hero{
    height: 100vh;
    width: auto;
    padding-top: 20vh;
  }
}



/* hero-Home Overview
====================== */

.home-about-textbox {
  padding: 2em;
  margin-top: 5em;
  margin-bottom: 20em;
  width: 95vw;
  outline: 3px solid #6495ed;
  outline-offset: -1em;
  position: relative;
  text-align: center;
  color: #f7f7f7;
}

@media (min-width: 25rem){
  h1 {
    font-size: 2rem;
  }
}

/* YOUTUBE iframe
==========================*/

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-top: 1em;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

/* TEAMMITLIEDER ALT
============================= */
.container{
  width: auto;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  color: #1f1f1f;
}

.container .box{
  position: relative;
  width: 250px;
  height: 250px;
  background: #1f1f1f;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  color: #1f1f1f;
}

.container .box .imgBox{
  position: relative;
  overflow: hidden;
}
.container .box .imgBox img{
  max-width: 100%;
  transition: transform 1s;
}
.container .box:hover .imgBox img{
  transform: scale(1.1);
}
.container .box .details{
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  bottom: -17px;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleY(0);
  transition: opacity 500ms ease-in-out;
}
.container .box:hover .details{
  transform: scaleY(1);
  transition: transform 500ms ease-in-out;
}
.container .box .details .content{
  position: absolute;
  top: 10%;
  text-align: center;
  padding: 5px;
  color: #fff;
}

.container .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
}

/* cta
========================== */
.cta{
  background-color: rgba(31, 31, 31, 0.8);
  padding: 5em 0;
}

/* TEAM
========================*/

.snip1576 {
  color: #fff7f7;
  display: inline-block;
  font-family: 'Oxanium', sans-serif;
  font-size: 20px;
  margin: 8px;
  max-width: 240px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1576 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1576:after {
  background-color: #359ad8;
  height: 150%;
  bottom: -145%;
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.snip1576 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1576 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1576 h3 {
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1576 h3 span {
  display: block;
  font-weight: 700;
}

.snip1576 h1 {
  font-size: .5em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1576 h3 span {
  display: block;
  font-weight: 700;
}

.snip1576 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1576:hover > img,
.snip1576.hover > img {
  opacity: 0.5;
}

.snip1576:hover:after,
.snip1576.hover:after {
  bottom: 95%;
}

.snip1576:hover figcaption,
.snip1576.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}






/* footer
=========================*/

footer{
  text-align: left;
  padding: 5em 0;
  color: #f7f7f7;
}
